<Body:>
  <div class="row">
    <form class="span3" x-bind="submit: exercise.add">
      <h3>Add exercise</h3>
      <fieldset>
        <label>Title</label>
        <input type="text" value={_page.newExercise.title}>
        <label>Content</label>
        <textarea>{_page.newExercise.content}</textarea>
        <div>
          <button type="submit" class="btn">Add</button>
        </div>
      </fieldset>
      <div class="well visits">
        <b>Fun fact:</b> You've visited the exercise {_page.user.visits} times.
      </div>
    </form>
    <div class="span8 offset1">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody>
          {#each _page.exercises as :exercise}
            <tr>
              <td>{{:exercise.title}}</td>
              <td>{{:exercise.content}}</td>
              <td><button class="btn" x-bind="click: exercise.remove">Remove</button></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
  </div>
